Repository Fgarm/GUMA-financas, pull requests merged in 2023-06, with the labels that each got.

#44 H11 - Gráfico Gastos Mais Relevantes + Novo Design Front
  BACK/Bancario/migrations/0001_initial.py
  BACK/Bancario/migrations/0002_saldos_valor.py
  BACK/Bancario/migrations/0003_alter_saldos_date.py
  BACK/GUMA_investimentos/urls.py
  BACK/Gastos/migrations/0001_initial.py
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  BACK/Grupos/migrations/0001_initial.py
  BACK/Tags/migrations/0001_initial.py
  FRONT/public/guma-white.png
  FRONT/public/guma.png
  FRONT/public/guma1.png
  FRONT/src/Routes/routes.jsx
  FRONT/src/components/DoughnutChart/index.jsx
  FRONT/src/components/DoughnutChart/style.css
  FRONT/src/components/LineChart/index.jsx
  FRONT/src/components/LineChart/style.css
  FRONT/src/components/chart/index.jsx
  FRONT/src/components/chart/style.css
  FRONT/src/components/extratoNavbar/ExtratoNavbar.jsx
  FRONT/src/components/sidebar/index.jsx
  FRONT/src/components/sidebar/style.css
  FRONT/src/components/toggleSearchStatus/index.jsx
  FRONT/src/components/toggleSearchStatus/style.css
  FRONT/src/main.css
  FRONT/src/modals/createGroup/index.jsx
  FRONT/src/pages/Extratos/index.jsx
  FRONT/src/pages/Graficos/index.jsx
  FRONT/src/pages/Graficos/style.css
  FRONT/src/pages/Grupo/index.jsx
  FRONT/src/pages/Grupo/style.css
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/Home/style.css
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogIn/style.css
  FRONT/src/pages/LogUp/index.jsx
Labels: Front-end, Back-end

#53 H14 - Média de Gastos por Categoria em um Período
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  FRONT/src/components/BarChart/index.jsx
  FRONT/src/components/BarChart/style.css
  FRONT/src/components/DoughnutChart/index.jsx
  FRONT/src/components/DoughnutChart/style.css
  FRONT/src/components/LineChart/index.jsx
  FRONT/src/components/LineChart/style.css
  FRONT/src/pages/Graficos/index.jsx
  FRONT/src/pages/Graficos/style.css
Labels: Front-end, Back-end

#55 Atualizacao de entradas e saidas em vetor unico
  BACK/Bancario/migrations/0002_saldos_nome.py
  BACK/Bancario/models.py
  BACK/Bancario/urls.py
  BACK/Bancario/views.py
  BACK/DebGroup/__init__.py
  BACK/DebGroup/admin.py
  BACK/DebGroup/apps.py
  BACK/DebGroup/migrations/0001_initial.py
  BACK/DebGroup/migrations/__init__.py
  BACK/DebGroup/models.py
  BACK/DebGroup/tests.py
  BACK/DebGroup/views.py
  BACK/GUMA_investimentos/settings.py
  BACK/Gastos/views.py
Labels: Back-end

#56 Extratos na Home feitos
  BACK/Bancario/migrations/0002_saldos_nome.py
  BACK/Bancario/models.py
  BACK/Bancario/urls.py
  BACK/Bancario/views.py
  BACK/DebGroup/__init__.py
  BACK/DebGroup/admin.py
  BACK/DebGroup/apps.py
  BACK/DebGroup/migrations/0001_initial.py
  BACK/DebGroup/migrations/__init__.py
  BACK/DebGroup/models.py
  BACK/DebGroup/tests.py
  BACK/DebGroup/views.py
  BACK/GUMA_investimentos/settings.py
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  FRONT/src/components/BarChart/index.jsx
  FRONT/src/components/BarChart/style.css
  FRONT/src/components/DoughnutChart/index.jsx
  FRONT/src/components/DoughnutChart/style.css
  FRONT/src/components/LineChart/index.jsx
  FRONT/src/components/LineChart/style.css
  FRONT/src/functions/compareDate/index.jsx
  FRONT/src/functions/usaFormat/index.jsx
  FRONT/src/modals/addSald/index.jsx
  FRONT/src/pages/Graficos/index.jsx
  FRONT/src/pages/Graficos/style.css
  FRONT/src/pages/Grupo/index.jsx
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/Home/style.css
Labels: enhancement, Front-end, Back-end

#58 H10 entradas saidas
  BACK/Bancario/tests.py
  BACK/Bancario/views.py
  BACK/DebGroup/migrations/0002_rename_devedores_debitos_devedor_and_more.py
  BACK/DebGroup/models.py
  BACK/DebGroup/views.py
  BACK/Gastos/views.py
  BACK/Grupos/migrations/0002_gastos_grupo_provedor.py
  BACK/Grupos/models.py
  BACK/Grupos/urls.py
  BACK/Grupos/views.py
Labels: Back-end

#57 Adicionar mudanças que arrumam problemas
  BACK/Gastos/views.py
  FRONT/src/components/toggleSearchStatus/index.jsx
  FRONT/src/pages/Home/index.jsx
  et --hard HEAD~1q
Labels: bug fix
