Repository Fgarm/GUMA-financas, pull requests merged in 2023-04, with the labels that each got.

#15 Add folder of front-end
  .gitignore
  FRONT/index.html
  FRONT/package-lock.json
  FRONT/package.json
  FRONT/public/vite.svg
  FRONT/src/assets/react.svg
  FRONT/src/components/button/index.jsx
  FRONT/src/components/button/style.css
  FRONT/src/components/input/index.jsx
  FRONT/src/components/input/style.css
  FRONT/src/hooks/password-toggle/index.jsx
  FRONT/src/index.css
  FRONT/src/main.jsx
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogIn/style.css
  FRONT/src/pages/LogUp/index.jsx
  FRONT/src/pages/LogUp/style.css
  FRONT/vite.config.js
Labels: front-end

#16 Métodos get/post
  FRONT/.gitignore
  FRONT/package-lock.json
  FRONT/package.json
  FRONT/src/Routes/routes.jsx
  FRONT/src/components/button/index.jsx
  FRONT/src/components/button/style.css
  FRONT/src/components/input/index.jsx
  FRONT/src/components/input/style.css
  FRONT/src/components/searchBar/index.jsx
  FRONT/src/components/searchBar/style.css
  FRONT/src/components/showHidePassword/index.jsx
  FRONT/src/components/showHidePassword/style.css
  FRONT/src/components/sidebar/sidebar.jsx
  FRONT/src/components/sidebar/sidebarData.jsx
  FRONT/src/components/sidebar/style.css
  FRONT/src/components/tagInput/index.jsx
  FRONT/src/hooks/password-toggle/index.jsx
  FRONT/src/main.jsx
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/Home/style.css
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogIn/style.css
  FRONT/src/pages/LogUp/index.jsx
  FRONT/src/pages/LogUp/style.css
Labels: enhancement, Front-end

#19 H4 cadastrar gastos
  BACK/GUMA_investimentos/settings.py
  BACK/GUMA_investimentos/urls.py
  BACK/Gastos/migrations/0001_initial.py
  BACK/Gastos/serializers.py
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  BACK/Makefile
  FRONT/arquivotxtfodase.txt
  FRONT/src/pages/Home/index.jsx
Labels: Back-end

#22 Arrumar método POST
  FRONT/.gitignore
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogUp/index.jsx
Labels: Front-end

#24 H4 - CadastrarGastos
  BACK/GUMA_investimentos/urls.py
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  FRONT/src/pages/Home/index.jsx
Labels: Back-end

#27 Adicionar novas features
  FRONT/dist/assets/index-9ed4ec2a.js
  FRONT/dist/assets/index-aed6c740.css
  FRONT/dist/index.html
  FRONT/dist/vite.svg
  FRONT/index.html
  FRONT/src/Routes/routes.jsx
  FRONT/src/assets/favicon/favicon.ico
  FRONT/src/assets/gumalogo2.png
  FRONT/src/components/searchBar/index.jsx
  FRONT/src/components/searchBar/style.css
  FRONT/src/components/showHidePassword/index.jsx
  FRONT/src/components/showHidePassword/style.css
  FRONT/src/components/sidebar/sidebar.jsx
  FRONT/src/components/sidebar/sidebarData.jsx
  FRONT/src/components/sidebar/style.css
  FRONT/src/components/tagInput/index.jsx
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/Home/style.css
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogUp/index.jsx
  FRONT/src/pages/LogUp/style.css
  package-lock.json
Labels: enhancement, Front-end

#31 add changes with get tags
  FRONT/src/components/tagInput/index.jsx
  FRONT/src/pages/Home/index.jsx
Labels: Front-end

#32 New feature: filter gasto by 'pago' or 'nao pago'
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
Labels: Back-end

#33 refactoring to presentation
  FRONT/src/components/searchBar/index.jsx
  FRONT/src/components/tagInput/index.jsx
  FRONT/src/index.css
  FRONT/src/main.jsx
  FRONT/src/pages/Home/index.jsx
  FRONT/src/pages/Home/style.css
  FRONT/src/pages/LogIn/index.jsx
  FRONT/src/pages/LogIn/style.css
  FRONT/src/pages/LogUp/index.jsx
  FRONT/src/pages/LogUp/style.css
Labels: Front-end
