Repository Fgarm/GUMA-financas, pull requests merged in 2023-05, with the labels that each got.

#40 Created Chart Component
  FRONT/package-lock.json
  FRONT/package.json
  FRONT/src/Routes/routes.jsx
  FRONT/src/pages/Chart/index.jsx
  FRONT/src/pages/Chart/style.css
  package-lock.json
Labels: Front-end

#42 H12 grafico total meses
  .gitignore
  BACK/Gastos/migrations/0003_alter_gasto_tag.py
  BACK/Gastos/migrations/0004_gasto_user_alter_gasto_tag.py
  BACK/Gastos/migrations/0005_alter_gasto_user_alter_gasto_valor.py
  BACK/Gastos/migrations/0006_alter_gasto_tag_alter_gasto_user.py
  BACK/Gastos/models.py
  BACK/Gastos/serializers.py
  BACK/Gastos/urls.py
  BACK/Gastos/views.py
  BACK/Tags/migrations/0002_alter_tag_user.py
  BACK/Tags/models.py
  BACK/Tags/serializers.py
  BACK/Tags/urls.py
  BACK/Tags/views.py
  BACK/Usuario/models.py
  BACK/Usuario/views.py
  BACK/requirements.txt
  FRONT/.gitignore
  FRONT/package-lock.json
  FRONT/package.json
  FRONT/src/Routes/routes.jsx
  FRONT/src/pages/Chart/index.jsx
  FRONT/src/pages/Chart/style.css
  FRONT/src/pages/Home/index.jsx
  README.md
  package-lock.json
Labels: Front-end, Back-end

#41 H15 grupos
  BACK/GUMA_investimentos/settings.py
  BACK/GUMA_investimentos/urls.py
  BACK/Gastos/views.py
  BACK/Grupos/__init__.py
  BACK/Grupos/admin.py
  BACK/Grupos/apps.py
  BACK/Grupos/migrations/0001_initial.py
  BACK/Grupos/migrations/0002_iten_user_itens_usuario.py
  BACK/Grupos/migrations/0003_alter_gastos_grupo_options_alter_grupo_options_and_more.py
  BACK/Grupos/migrations/0004_alter_itens_options.py
  BACK/Grupos/migrations/0005_grupogasto_user_gastos_grupo_usuario.py
  BACK/Grupos/migrations/0006_gastos_grupo_id_grupo_itens_id_gastosgrupo.py
  BACK/Grupos/migrations/0007_remove_grupo_image.py
  BACK/Grupos/migrations/0008_alter_grupo_grupo_id.py
  BACK/Grupos/migrations/0009_alter_grupo_grupo_id.py
  BACK/Grupos/migrations/0010_gastos_grupo_nome_gasto.py
  BACK/Grupos/migrations/0011_itens_descricao.py
  BACK/Grupos/migrations/0012_rename_item_grupogasto_user_conta.py
  BACK/Grupos/migrations/0013_remove_grupo_usuario_grupo_image_and_more.py
  BACK/Grupos/migrations/0014_remove_grupo_image_alter_gastos_grupo_usuario_and_more.py
  BACK/Grupos/migrations/0015_itens_quantidade.py
  BACK/Grupos/migrations/0016_rename_preco_itens_preco_unitario_and_more.py
  BACK/Grupos/migrations/0017_alter_gastos_grupo_valor_total.py
  BACK/Grupos/migrations/0018_rename_item_grupo_user_grupo.py
  BACK/Grupos/migrations/__init__.py
  BACK/Grupos/models.py
  BACK/Grupos/serializer.py
  BACK/Grupos/tests.py
  BACK/Grupos/urls.py
  BACK/Grupos/views.py
  BACK/Tags/views.py
Labels: Back-end
